openapi: 3.0.3
info:
  contact:
    email: support@immutable.com
    name: Immutable API Support
    url: https://support.immutable.com
  description: Immutable Multi Rollup API
  title: Immutable zkEVM API
  version: 1.0.0
servers:
- url: https://api.sandbox.immutable.com
tags:
- description: Activities Endpoints
  name: activities
  x-displayName: activities
- description: Chains Endpoints
  name: chains
  x-displayName: chains
- description: Collections Endpoints
  name: collections
  x-displayName: collections
- description: NFTs Endpoints
  name: nfts
  x-displayName: nfts
- description: NFT Owner Endpoints
  name: nft owners
  x-displayName: nft owners
- description: NFT Metadata Endpoints
  name: metadata
  x-displayName: metadata
- description: ERC20 Token Endpoints
  name: tokens
  x-displayName: tokens
- description: Temporary HTML endpoint for demo purposes
  name: demopage
  x-displayName: demopage
- name: verification
  x-displayName: verification
- name: operatorallowlist
  x-displayName: operatorallowlist
- name: crafting
  x-displayName: crafting
- description: Listings Endpoints
  name: listings
  x-displayName: listings
- name: orders
  x-displayName: orders
- description: Passport operations
  name: passport
  x-displayName: passport
- description: Passport Profile endpoints
  name: passport profile
  x-displayName: passport profile
- description: Guardian endpoints
  name: guardian
  x-displayName: guardian
- description: Pricing Endpoints
  name: pricing
  x-displayName: pricing
- name: metadata-search
  x-displayName: metadata-search
paths:
  /v1/chains/{chain_name}/activity-history:
    get:
      description: "List activities sorted by updated_at timestamp ascending, useful\
        \ for time based data replication"
      operationId: ListActivityHistory
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: From indexed at including given date
        explode: true
        in: query
        name: from_updated_at
        required: true
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: To indexed at including given date
        explode: true
        in: query
        name: to_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: The contract address of the collection
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: true
        in: query
        name: contract_address
        required: false
        schema:
          type: string
        style: form
      - description: The activity type
        example: burn
        explode: true
        in: query
        name: activity_type
        required: false
        schema:
          $ref: '#/components/schemas/ActivityType'
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActivitiesResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List history of activities
      tags:
      - activities
  /v1/chains/{chain_name}/activities:
    get:
      description: List all activities
      operationId: ListActivities
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: The contract address of NFT or ERC20 Token
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: true
        in: query
        name: contract_address
        required: false
        schema:
          type: string
        style: form
      - description: An `uint256` token id as string
        example: "1"
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          type: string
        style: form
      - description: The account address activity contains
        example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
        explode: true
        in: query
        name: account_address
        required: false
        schema:
          type: string
        style: form
      - description: The activity type
        example: burn
        explode: true
        in: query
        name: activity_type
        required: false
        schema:
          $ref: '#/components/schemas/ActivityType'
        style: form
      - description: The transaction hash of activity
        example: 0x68d9eac5e3b3c3580404989a4030c948a78e1b07b2b5ea5688d8c38a6c61c93e
        explode: true
        in: query
        name: transaction_hash
        required: false
        schema:
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActivitiesResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all activities
      tags:
      - activities
  /v1/chains/{chain_name}/activities/{activity_id}:
    get:
      description: Get a single activity by ID
      operationId: GetActivity
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: The id of activity
        explode: false
        in: path
        name: activity_id
        required: true
        schema:
          $ref: '#/components/schemas/ActivityID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivityResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a single activity by ID
      tags:
      - activities
  /v1/chains/{chain_name}/collections:
    get:
      description: List all collections
      operationId: ListCollections
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: List of contract addresses to filter by
        explode: true
        in: query
        name: contract_address
        required: false
        schema:
          items:
            example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
            type: string
          type: array
        style: form
      - description: List of verification status to filter by
        explode: true
        in: query
        name: verification_status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AssetVerificationStatus'
          type: array
        style: form
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all collections
      tags:
      - collections
  /v1/chains/{chain_name}/collections/{contract_address}:
    get:
      description: Get collection by contract address
      operationId: GetCollection
      parameters:
      - description: The address contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get collection by contract address
      tags:
      - collections
  /v1/chains/{chain_name}/collections/{contract_address}/refresh-metadata:
    post:
      description: Refresh collection metadata
      operationId: RefreshCollectionMetadata
      parameters:
      - description: The address contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshCollectionMetadataRequest'
        description: The request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshCollectionMetadataResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - refresh:metadata
      - BearerAuth:
        - refresh:metadata
      summary: Refresh collection metadata
      tags:
      - collections
  /v1/chains/{chain_name}/accounts/{account_address}/collections:
    get:
      description: List collections by NFT owner account address
      operationId: ListCollectionsByNFTOwner
      parameters:
      - description: Account address
        example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
        explode: false
        in: path
        name: account_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List collections by NFT owner
      tags:
      - collections
  /v1/chains/{chain_name}/collections/{contract_address}/nfts/{token_id}:
    get:
      description: Get NFT by token ID
      operationId: GetNFT
      parameters:
      - description: The address of NFT contract
        example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: An `uint256` token id as string
        example: "1"
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNFTResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get NFT by token ID
      tags:
      - nfts
  /v1/chains/{chain_name}/collections/{contract_address}/metadata/{metadata_id}:
    get:
      description: Get metadata by ID
      operationId: GetMetadata
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: The address of metadata contract
        example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the metadata
        explode: false
        in: path
        name: metadata_id
        required: true
        schema:
          $ref: '#/components/schemas/MetadataID'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMetadataResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get metadata by ID
      tags:
      - metadata
  /v1/chains/{chain_name}/collections/{contract_address}/metadata:
    get:
      description: Get a list of metadata from the given contract
      operationId: ListMetadata
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: The address of metadata contract
        example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetadataResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a list of metadata from the given contract
      tags:
      - metadata
  /v1/chains/{chain_name}/metadata:
    get:
      description: Get a list of metadata from the given chain
      operationId: ListMetadataForChain
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetadataResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a list of metadata from the given chain
      tags:
      - metadata
  /v1/chains/{chain_name}/collections/{contract_address}/metadata/refresh-metadata:
    post:
      description: Refresh stacked metadata
      operationId: RefreshMetadataByID
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Contract address
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshMetadataByIDRequest'
        description: NFT Metadata Refresh Request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataRefreshRateLimitResult'
          description: Accepted
          headers:
            imx-refreshes-limit:
              $ref: '#/components/headers/MetadataRefreshLimit'
            imx-refresh-limit-reset:
              $ref: '#/components/headers/MetadataRefreshLimitReset'
            imx-remaining-refreshes:
              $ref: '#/components/headers/MetadataRefreshLimitRemaining'
            retry-after:
              $ref: '#/components/headers/MetadataRefreshRetryAfter'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError429'
          description: Too Many Metadata refreshes (429)
          headers:
            imx-refreshes-limit:
              $ref: '#/components/headers/MetadataRefreshLimit'
            imx-refresh-limit-reset:
              $ref: '#/components/headers/MetadataRefreshLimitReset'
            imx-remaining-refreshes:
              $ref: '#/components/headers/MetadataRefreshLimitRemaining'
            Retry-After:
              $ref: '#/components/headers/MetadataRefreshRetryAfter'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - refresh:metadata
      summary: Refresh stacked metadata
      tags:
      - metadata
      x-go-name: RefreshMetadataByID
  /v1/chains/{chain_name}/collections/{contract_address}/nfts:
    get:
      description: List NFTs by contract address
      operationId: ListNFTs
      parameters:
      - description: Contract address
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: List of token IDs to filter by
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          items:
            example: "1"
            type: string
          maxItems: 30
          type: array
        style: form
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNFTsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List NFTs by contract address
      tags:
      - nfts
  /v1/chains/{chain_name}/accounts/{account_address}/nfts:
    get:
      description: List NFTs by account address
      operationId: ListNFTsByAccountAddress
      parameters:
      - description: Account address
        example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
        explode: false
        in: path
        name: account_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: true
        in: query
        name: contract_address
        required: false
        schema:
          type: string
        style: form
      - description: List of token IDs to filter by
        explode: true
        in: query
        name: token_id
        required: false
        schema:
          items:
            example: "1"
            type: string
          maxItems: 30
          type: array
        style: form
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNFTsByOwnerResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List NFTs by account address
      tags:
      - nfts
  /v1/chains/{chain_name}/collections/{contract_address}/nfts/{token_id}/owners:
    get:
      description: List NFT owners by token ID
      operationId: ListNFTOwners
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: An `uint256` token id as string
        example: "1"
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNFTOwnersResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List NFT owners by token ID
      tags:
      - nft owners
  /v1/chains/{chain_name}/nfts:
    get:
      description: List all NFTs on a chain
      operationId: ListAllNFTs
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNFTsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all NFTs
      tags:
      - nfts
  /v1/chains/{chain_name}/nft-owners:
    get:
      description: List all NFT owners on a chain
      operationId: ListAllNFTOwners
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNFTOwnersResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all NFT owners
      tags:
      - nft owners
  /v1/chains/{chain_name}/collections/{contract_address}/owners:
    get:
      description: List owners by contract address
      operationId: ListOwnersByContractAddress
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: List of account addresses to filter by
        explode: true
        in: query
        name: account_address
        required: false
        schema:
          items:
            example: 0xe9b00a87700f660e46b6f5deaa1232836bcc07d3
            type: string
          maxItems: 30
          type: array
        style: form
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionOwnersResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List owners by contract address
      tags:
      - nft owners
  /v1/chains/{chain_name}/tokens:
    get:
      description: List ERC20 tokens
      operationId: ListERC20Tokens
      parameters:
      - description: The name of chain
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Datetime to use as the oldest updated timestamp
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-08-16T17:43:26.991388Z
          format: date-time
          type: string
        style: form
      - description: List of verification status to filter by
        explode: true
        in: query
        name: verification_status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AssetVerificationStatus'
          type: array
        style: form
      - description: "[Experimental - Canonical token data may be updated] Filter\
          \ by canonical or non-canonical tokens."
        explode: true
        in: query
        name: is_canonical
        required: false
        schema:
          type: boolean
        style: form
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTokensResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List ERC20 tokens
      tags:
      - tokens
  /v1/chains/{chain_name}/tokens/{contract_address}:
    get:
      description: Get single ERC20 token
      operationId: GetERC20Token
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get single ERC20 token
      tags:
      - tokens
  /v1/chains:
    get:
      description: List supported chains
      operationId: ListChains
      parameters:
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChainsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List supported chains
      tags:
      - chains
  /v1/chains/{chain_name}/collections/{contract_address}/nfts/refresh-metadata:
    post:
      description: Refresh NFT metadata
      operationId: RefreshNFTMetadataByTokenID
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshNFTMetadataByTokenIDRequest'
        description: the request body
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataRefreshRateLimitResult'
          description: Accepted
          headers:
            imx-refreshes-limit:
              $ref: '#/components/headers/MetadataRefreshLimit'
            imx-refresh-limit-reset:
              $ref: '#/components/headers/MetadataRefreshLimitReset'
            imx-remaining-refreshes:
              $ref: '#/components/headers/MetadataRefreshLimitRemaining'
            retry-after:
              $ref: '#/components/headers/MetadataRefreshRetryAfter'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError429'
          description: Too Many Metadata refreshes (429)
          headers:
            imx-refreshes-limit:
              $ref: '#/components/headers/MetadataRefreshLimit'
            imx-refresh-limit-reset:
              $ref: '#/components/headers/MetadataRefreshLimitReset'
            imx-remaining-refreshes:
              $ref: '#/components/headers/MetadataRefreshLimitRemaining'
            Retry-After:
              $ref: '#/components/headers/MetadataRefreshRetryAfter'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - refresh:metadata
      summary: Refresh NFT metadata
      tags:
      - metadata
  /v1/chains/{chain_name}/collections/{contract_address}/nfts/mint-requests:
    get:
      description: Retrieve the status of all mints for a given contract address
      operationId: ListMintRequests
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Encoded page cursor to retrieve previous or next page. Use the
          value returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      - description: Maximum number of items to return
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      - description: The status of the mint request
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/MintRequestStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMintRequestsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - write:mint-request
      summary: List mint requests
      tags:
      - nfts
    post:
      description: Create a mint request to mint a set of NFTs for a given collection
      operationId: CreateMintRequest
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMintRequestRequest'
        description: Create Mint Request Body
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMintRequestResult'
          description: Accepted
          headers:
            imx-mint-requests-limit:
              $ref: '#/components/headers/MintRequestsLimit'
            imx-mint-requests-limit-reset:
              $ref: '#/components/headers/MintRequestsLimitReset'
            imx-remaining-mint-requests:
              $ref: '#/components/headers/MintRequestsLimitRemaining'
            imx-mint-requests-retry-after:
              $ref: '#/components/headers/MintRequestsRetryAfter'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError409'
          description: Conflict (409)
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError429'
          description: Too Many mint requests (429)
          headers:
            imx-mint-requests-limit:
              $ref: '#/components/headers/MintRequestsLimit'
            imx-mint-requests-limit-reset:
              $ref: '#/components/headers/MintRequestsLimitReset'
            imx-remaining-mint-requests:
              $ref: '#/components/headers/MintRequestsLimitRemaining'
            imx-mint-requests-retry-after:
              $ref: '#/components/headers/MintRequestsRetryAfter'
            Retry-After:
              $ref: '#/components/headers/MintRequestsRetryAfter'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - write:mint-request
      summary: Mint NFTs
      tags:
      - nfts
  /v1/chains/{chain_name}/collections/{contract_address}/nfts/mint-requests/{reference_id}:
    get:
      description: Retrieve the status of a mint request identified by its reference_id
      operationId: GetMintRequest
      parameters:
      - description: The address of contract
        example: 0x8a90cab2b38dba80c64b7734e58ee1db38b8992e
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: The name of chain
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: The id of the mint request
        example: 67f7d464-b8f0-4f6a-9a3b-8d3cb4a21af0
        explode: false
        in: path
        name: reference_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMintRequestsResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - write:mint-request
      summary: Get mint request by reference ID
      tags:
      - nfts
  /v1/chains/{chain_name}/crafting/sign:
    post:
      description: Sign a crafting payload
      operationId: SignCraftingPayload
      parameters:
      - description: The name of chain
        examples:
          testnet:
            summary: Immutable zkEVM Public Testnet
            value: imtbl-zkevm-testnet
        explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignCraftingRequest'
        description: The request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignCraftingResult'
          description: 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: Forbidden Request (403)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      security:
      - ImmutableApiKey:
        - create:collections
      summary: Sign a crafting payload
      tags:
      - crafting
  /v1/chains/{chain_name}/orders/cancel:
    post:
      description: Cancel one or more orders
      operationId: CancelOrders
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrdersRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrdersResult'
          description: Orders cancellation response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: Unauthorised Request (401)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError429'
          description: Too Many Requests (429)
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError501'
          description: Not Implemented Error (501)
      summary: Cancel one or more orders
      tags:
      - orders
  /v1/chains/{chain_name}/orders/listings:
    get:
      description: List all listings
      operationId: ListListings
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Order status to filter by
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/OrderStatusName'
        style: form
      - description: Sell item contract address to filter by
        explode: true
        in: query
        name: sell_item_contract_address
        required: false
        schema:
          example: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: Buy item type to filter by
        explode: true
        in: query
        name: buy_item_type
        required: false
        schema:
          enum:
          - NATIVE
          - ERC20
          example: NATIVE
          type: string
        style: form
      - description: Buy item contract address to filter by
        explode: true
        in: query
        name: buy_item_contract_address
        required: false
        schema:
          example: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: The account address of the user who created the listing
        explode: true
        in: query
        name: account_address
        required: false
        schema:
          example: 0xc49Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: The metadata_id of the sell item
        explode: true
        in: query
        name: sell_item_metadata_id
        required: false
        schema:
          example: 020792c9-4ad7-8ec4-4038-9e05c598535b
          format: uuid
          type: string
        style: form
      - description: Sell item token identifier to filter by
        explode: true
        in: query
        name: sell_item_token_id
        required: false
        schema:
          example: "1"
          pattern: \d+
          type: string
        style: form
      - description: From updated at including given date
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-03-09T05:00:50.52Z
          format: date-time
          type: string
        style: form
      - description: Maximum number of orders to return per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      - description: "Order field to sort by. `buy_item_amount` sorts by per token\
          \ price, for example if 5 ERC-1155s are on sale for 10eth, it’s sorted as\
          \ 2eth for `buy_item_amount`."
        example: created_at
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          description: Order field to sort by
          enum:
          - created_at
          - updated_at
          - buy_item_amount
          example: created_at
          type: string
        style: form
      - description: Ascending or descending direction for sort
        example: asc
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          description: Ascending or descending direction for sort
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: Page cursor to retrieve previous or next page. Use the value
          returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListListingsResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all listings
      tags:
      - orders
    post:
      description: Create a listing
      operationId: CreateListing
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListingRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResult'
          description: Created response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Create a listing
      tags:
      - orders
  /v1/chains/{chain_name}/orders/bids:
    get:
      description: List all bids
      operationId: ListBids
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Order status to filter by
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/OrderStatusName'
        style: form
      - description: Buy item contract address to filter by
        explode: true
        in: query
        name: buy_item_contract_address
        required: false
        schema:
          example: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: Sell item contract address to filter by
        explode: true
        in: query
        name: sell_item_contract_address
        required: false
        schema:
          example: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: The account address of the user who created the bid
        explode: true
        in: query
        name: account_address
        required: false
        schema:
          example: 0xc49Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: The metadata_id of the buy item
        explode: true
        in: query
        name: buy_item_metadata_id
        required: false
        schema:
          example: 020792c9-4ad7-8ec4-4038-9e05c598535b
          format: uuid
          type: string
        style: form
      - description: buy item token identifier to filter by
        explode: true
        in: query
        name: buy_item_token_id
        required: false
        schema:
          example: "1"
          pattern: \d+
          type: string
        style: form
      - description: From updated at including given date
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-03-09T05:00:50.52Z
          format: date-time
          type: string
        style: form
      - description: Maximum number of orders to return per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      - description: "Order field to sort by. `sell_item_amount` sorts by per token\
          \ price, for example if 10eth is offered for 5 ERC1155 items, it’s sorted\
          \ as 2eth for `sell_item_amount`."
        example: created_at
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          description: Order field to sort by
          enum:
          - created_at
          - updated_at
          - sell_item_amount
          example: created_at
          type: string
        style: form
      - description: Ascending or descending direction for sort
        example: asc
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          description: Ascending or descending direction for sort
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: Page cursor to retrieve previous or next page. Use the value
          returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBidsResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all bids
      tags:
      - orders
    post:
      description: Create a bid
      operationId: CreateBid
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBidRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidResult'
          description: Created response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError501'
          description: Not Implemented Error (501)
      summary: Create a bid
      tags:
      - orders
  /v1/chains/{chain_name}/orders/collection-bids:
    get:
      description: List all collection bids
      operationId: ListCollectionBids
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Order status to filter by
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/OrderStatusName'
        style: form
      - description: Buy item contract address to filter by
        explode: true
        in: query
        name: buy_item_contract_address
        required: false
        schema:
          example: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: Sell item contract address to filter by
        explode: true
        in: query
        name: sell_item_contract_address
        required: false
        schema:
          example: 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: The account address of the user who created the bid
        explode: true
        in: query
        name: account_address
        required: false
        schema:
          example: 0xc49Fd6e51aad88F6F4ce6aB8827279cffFb92266
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: From updated at including given date
        explode: true
        in: query
        name: from_updated_at
        required: false
        schema:
          example: 2022-03-09T05:00:50.52Z
          format: date-time
          type: string
        style: form
      - description: Maximum number of orders to return per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      - description: "Order field to sort by. `sell_item_amount` sorts by per token\
          \ price, for example if 10eth is offered for 5 ERC1155 items, it’s sorted\
          \ as 2eth for `sell_item_amount`."
        example: created_at
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          description: Order field to sort by
          enum:
          - created_at
          - updated_at
          - sell_item_amount
          example: created_at
          type: string
        style: form
      - description: Ascending or descending direction for sort
        example: asc
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          description: Ascending or descending direction for sort
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: Page cursor to retrieve previous or next page. Use the value
          returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionBidsResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all collection bids
      tags:
      - orders
    post:
      description: Create a collection bid
      operationId: CreateCollectionBid
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionBidRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionBidResult'
          description: Created response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError501'
          description: Not Implemented Error (501)
      summary: Create a collection bid
      tags:
      - orders
  /v1/chains/{chain_name}/orders/listings/{listing_id}:
    get:
      description: Get a single listing by ID
      operationId: GetListing
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Global Order identifier
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: Global Order identifier
          example: 018792c9-4ad7-8ec4-4038-9e05c598534a
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a single listing by ID
      tags:
      - orders
  /v1/chains/{chain_name}/orders/bids/{bid_id}:
    get:
      description: Get a single bid by ID
      operationId: GetBid
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Global Bid identifier
        explode: false
        in: path
        name: bid_id
        required: true
        schema:
          description: Global Bid identifier
          example: 018792c9-4ad7-8ec4-4038-9e05c598534a
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a single bid by ID
      tags:
      - orders
  /v1/chains/{chain_name}/orders/collection-bids/{collection_bid_id}:
    get:
      description: Get a single collection bid by ID
      operationId: GetCollectionBid
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Global Collection Bid identifier
        explode: false
        in: path
        name: collection_bid_id
        required: true
        schema:
          description: Global Collection Bid identifier
          example: 018792c9-4ad7-8ec4-4038-9e05c598534a
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionBidResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a single collection bid by ID
      tags:
      - orders
  /v1/chains/{chain_name}/orders/fulfillment-data:
    post:
      description: Retrieve signed fulfillment data based on the list of order IDs
        and corresponding fees.
      operationId: fulfillment_data
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/FulfillmentDataRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fulfillment_data_200_response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Retrieve fulfillment data for orders
      tags:
      - orders
  /v1/chains/{chain_name}/trades:
    get:
      description: List all trades
      operationId: ListTrades
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - explode: true
        in: query
        name: account_address
        required: false
        schema:
          description: Account address to filter trades by (includes buy and sell
            wallet address)
          example: 0x784578949A4A50DeA641Fb15dd2B11C72E76919a
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - explode: true
        in: query
        name: sell_item_contract_address
        required: false
        schema:
          description: Sell item contract address to filter by
          example: 0x784578949A4A50DeA641Fb15dd2B11C72E76919a
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        style: form
      - description: From indexed at including given date
        explode: true
        in: query
        name: from_indexed_at
        required: false
        schema:
          example: 2022-03-09T05:00:50.52Z
          format: date-time
          type: string
        style: form
      - description: Maximum number of trades to return per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
        style: form
      - description: Trade field to sort by
        example: indexed_at
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          description: Trade field to sort by
          enum:
          - indexed_at
          example: indexed_at
          type: string
        style: form
      - description: Ascending or descending direction for sort
        example: asc
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          description: Ascending or descending direction for sort
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: Page cursor to retrieve previous or next page. Use the value
          returned in the response.
        explode: true
        in: query
        name: page_cursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTradeResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: List all trades
      tags:
      - orders
  /v1/chains/{chain_name}/trades/{trade_id}:
    get:
      description: Get a single trade by ID
      operationId: GetTrade
      parameters:
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      - description: Global Trade identifier
        explode: false
        in: path
        name: trade_id
        required: true
        schema:
          description: Global Trade identifier
          example: 018792c9-4ad7-8ec4-4038-9e05c598534a
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeResult'
          description: OK response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: Bad Request (400)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError404'
          description: The specified resource was not found (404)
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: Internal Server Error (500)
      summary: Get a single trade by ID
      tags:
      - orders
  /v1/chains/{chain_name}/passport/users/{user_id}/linked-addresses:
    get:
      deprecated: true
      description: "This API has been deprecated, please use https://docs.immutable.com/zkevm/api/reference/#/operations/getUserInfo\
        \ instead to get a list of linked addresses."
      operationId: getLinkedAddresses
      parameters:
      - description: The user's userId
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chain_name
        required: true
        schema:
          $ref: '#/components/schemas/ChainName'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLinkedAddressesRes'
          description: User's list of linked addresses response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: BadRequestError
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: UnauthorizedError
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: ForbiddenError
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError429'
          description: TooManyRequestsError
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: InternalServerError
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAPIError'
          description: unexpected error
      security:
      - BearerAuth:
        - openid
      summary: Get Ethereum linked addresses for a user
      tags:
      - passport
  /passport-profile/v2/linked-wallets:
    post:
      description: Link an external EOA wallet to an Immutable Passport account by
        providing an EIP-712 signature.
      operationId: link-wallet-v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkWalletV2Request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError400'
          description: BadRequestError
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: UnauthorizedError
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError403'
          description: ForbiddenError
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError500'
          description: InternalServerError
      security:
      - BearerAuth:
        - openid
      summary: Link wallet v2
      tags:
      - passport profile
  /passport-profile/v1/user/info:
    get:
      description: Get all the info for an authenticated Passport user
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
          description: Passport user's info
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError401'
          description: UnauthorizedError
        "500":
[...]
