---
name: 'Assert Branch Naming Convention'
on: pull_request

jobs:
  branch-naming-rules:
    runs-on: ubuntu-latest
    steps:
      - uses: deepakputhraya/action-branch-name@master
        with:
          regex: '([a-z])+\/([a-z0-9.-])+'
          allowed_prefixes: 'feat,fix,build,chore,ci,docs,style,refactor,perf,test,revert'
          ignore: main
          min_length: 5
          max_length: 50